package {{packageName}};
{{#inject}}
  {{#sortedTypes}}
import {{packageName}}.{{name}};
  {{/sortedTypes}}
  {{#sortedClasses}}
import {{name}};
  {{/sortedClasses}}
{{/inject}}

public class {{simpleName}} {
  public void register() {
    {{#inject}}
      {{#sortedTypes}}
    register({{name}}.class);
      {{/sortedTypes}}
      {{#sortedClasses}}
    register({{simpleName}}.class);
      {{/sortedClasses}}
    {{/inject}}
  }
}