package {{packageName}};

import java.util.Stream;
{{#spring}}
import {{packageName}}.{{name}};
{{/spring}}

public class SpringModule {
  public void register() {
    {{#spring}}
      {{#types}}
    register({{name}}.class);
      {{/types}}
    {{/spring}}
  }
}