{{#filters}}
  {{#sortedTypes}}
{{name}}{{#annotation}}name={{{name}}},{{{filterName}}}{{#initParams}},initParams={{{initParams}}}{{/initParams}}{{#dispatcherTypes}},dispatcherType={{{dispatcherTypes}}}{{/dispatcherTypes}},urlPatterns={{{urlPatterns}}}{{/annotation}}
  {{/sortedTypes}}
{{/filters}}